<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Sales Gong</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      /* Custom CSS for animations */
      @keyframes fadeInUp {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .fadeInUp {
        animation: fadeInUp 0.5s ease-out;
      }

      /* Smooth scrolling */
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body class="bg-gray-100 font-sans">
    <!-- Header & Download Section -->

    <div class="w-full bg-gradient-to-r from-blue-900 to-indigo-600 px-8">
      <div class="max-w-screen-2xl w-full h-screen mx-auto justify-center flex">
        <div
          class="w-full grid lg:grid-cols-2 gap-8 items-center justify-center"
        >
          <!-- Left Section -->
          <div class="flex flex-col divide-y-4 divide-yellow-300">
            <div class="text-center md:text-left mb-8">
              <h1 class="text-4xl md:text-6xl font-bold text-white">
                The Sales Gong
              </h1>
              <p
                class="tex-sm md:text-md text-gray-200 mt-4 uppercase tracking-widest"
              >
                How Modern Sales Teams Celebrate
              </p>
            </div>
            <div class="text-center md:text-left">
              <h2
                class="text-2xl md:text-3xl font-semibold text-gray-300 mb-4 mt-8"
              >
                Download our apps
              </h2>
              <p class="text-lg text-gray-400 mb-8">
                Install the app to join the celebration with your team!
              </p>

              <!-- Download Buttons -->
              <div class="flex justify-center md:justify-start space-x-4">
                <!-- Apple App Store Badge -->
                <a
                  href="#"
                  class="w-36 transform hover:scale-125 transition duration-300 ease-in-out"
                >
                  <img
                    src="./img/download_apple.svg"
                    class="w-full"
                    alt="Download on the App Store"
                  />
                </a>

                <!-- Google Play Store Badge -->
                <a
                  href="#"
                  class="w-36 transform hover:scale-125 transition duration-300 ease-in-out"
                >
                  <img
                    src="./img/download_android.png"
                    class="w-full"
                    alt="Get it on Google Play"
                  />
                </a>
              </div>

                <div
                  class="bg-green-300 w-full md:w-48 font-bold text-white p-4 mt-8 md:mt-24 rounded-xl hover:bg-green-700 focus:outline-none focus:bg-green-700 text-center cursor-pointer"
                >
                  CONTACT US
                </div>
            </div>
          </div>
          <!-- Right Section -->
          <div class="flex flex-col">
            <img
              src="./img/gong.png"
              alt="gong"
              class="max-w-md mx-auto mb-8 animate-pulse w-full"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- About Page Section -->
    <div
      id="about"
      class="w-full bg-gradient-to-r from-blue-900 to-indigo-600 px-8"
    >
      <div
        class="max-w-screen-2xl w-full md:h-screen mx-auto justify-center flex"
      >
        <div
          class="w-full grid lg:grid-cols-2 gap-8 items-center justify-center"
        >
          <div class="flex flex-col">
            <h2 class="text-2xl md:text-4xl font-semibold text-gray-400 mb-4">
              What Is The Sales Gong?
            </h2>
            <p class="text-lg text-gray-300 mb-4">
              Does your company have a remote or distributed sales team?
            </p>
            <p class="text-lg text-gray-300 mb-4">
              Remember the good old days when we all worked in the same place?
            </p>
            <p class="text-lg text-gray-300 mb-8">
              One of your salespeople would close a big deal and the
              celebrations would begin immediately! High fives…popping a bottle
              of champagne...or even ringing a sales bell in the office. We miss
              those days…
            </p>
            <p class="text-lg text-gray-300 mb-8">
              One of the things we struggle with most as sales leaders in
              today’s remote environment is celebrating successes and fostering
              healthy competition within our teams.
            </p>
            <p class="text-lg text-gray-300 mb-8">
              This is why we created The Sales Gong…
            </p>
            <p class="text-lg text-gray-300 mb-8">
              With The Sales Gong, when one of your salespeople closes a deal,
              they can alert the rest of the team by hitting the virtual sales
              gong on their phone. The gong will sound on your team’s devices
              and the celebration can begin…no matter where they are!
            </p>
            <p class="text-lg text-gray-300 mb-8">
              The Sales Gong is available from the Apple app store and on Google
              Play. It’s a great way to rally your team and costs less than a
              round of celebratory drinks!
            </p>
            <p class="text-lg text-gray-300 mb-8">Check it out today.</p>
          </div>
          <div class="flex flex-col">
            <video class="w-full" controls>
              <source src="./videos/about_video.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact Us Section -->
    <div class="w-full bg-gradient-to-r from-blue-900 to-indigo-600 py-12 md:py-0">
      <div
        class="flex flex-col justify-center items-center md:h-screen max-w-screen-2xl w-full mx-auto"
      >
        <div class="w-full md:w-96 px-8">
          <h2
            class="text-2xl md:text-4xl font-semibold text-gray-400 mb-4 text-center"
          >
            Contact Us
          </h2>
          <form
            action="mailto:almanza1112@gmail.com"
            method="post"
            enctype="text/plain"
            class="mb-8"
          >
            <div class="mb-4">
              <label
                for="name"
                class="block text-gray-200 text-sm uppercase mb-2"
                >Name</label
              >
              <input
                type="text"
                id="name"
                name="name"
                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-indigo-500"
                required
              />
            </div>
            <div class="mb-4">
              <label
                for="email"
                class="block text-gray-200 text-sm uppercase mb-2"
                >Email</label
              >
              <input
                type="email"
                id="email"
                name="email"
                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-indigo-500"
                required
              />
            </div>
            <div class="mb-4">
              <label
                for="message"
                class="block text-gray-200 text-sm uppercase mb-2"
                >Message</label
              >
              <textarea
                id="message"
                name="message"
                rows="4"
                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-indigo-500"
                required
              ></textarea>
            </div>
            <button
              type="submit"
              class="bg-green-300 w-full font-bold text-white py-2 px-6 rounded-lg hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700"
            >
              SUBMIT
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Footer Section -->
    <footer
      class="text-center pt-8 bg-gradient-to-r from-blue-900 to-indigo-600 text-gray-300"
    >
      <p>&copy; 2024 The Sales Gong. All rights reserved.</p>
    </footer>

    <!-- Custom JavaScript for Animations -->
    <script>
      // Add animation class to about-section elements
      const aboutSectionElements =
        document.querySelectorAll(".about-section *");
      aboutSectionElements.forEach((element) => {
        element.classList.add("fadeInUp");
      });
    </script>
  </body>
</html>
